<div id="works">
    <br><h3>Portfolio</h3><hr><br>

    <table>
        <tr>
            <td align="center">
                <img src="../assets/StreetApparelPage.JPG" alt="" style="height: 15rem; border: 2px solid black;">
            </td>
            <td style="padding-left: 5%;">
                Street Apparel website was a project in our Web Search Engine Optimization and Analytics. As a requirement, We must build and optimize a website. We learn how to apply SEO strategies to improve the website's performance.
            </td>            
        </tr>
        <tr>
            <td><br><br></td>
        </tr>        
        <tr>
            <td align="center">
                <img src="../assets/DataStudio-report-1.JPG" alt="" style="height: 15rem; border: 2px solid black;">
            </td>
            <td style="padding-left: 5%;">
                Another part of our requirement in the Web Search Engine Optimization and Analytics subject is to create a report from our website. We were able to generate traffic for a limited time. Using that data, we created a report with Googe Data Studio and submitted a presentation about the progress of our website.
            </td>
        </tr>
        <tr>
            <td><br><br></td>
        </tr> 
        <tr>
            <td align="center">
                <img src="../assets/HAU-Library-3.JPG" alt="" style="height: 15rem; border: 2px solid black;">
            </td>
            <td style="padding-left: 5%;">
                The HAU library project was a final requirement in our Dynamic Web Applications and Development Tools where we build a website with PHP and apply basic CRUD with MySQL. 
            </td>
            
        </tr>
    </table>

</div>

<div id="certificates">
    <br><hr><h3>Certificates</h3><hr><br>

    <table>
        <tr>
            <td align="center"><img src="../assets/GoogleAnalytics_Certificate_Tan.JPG" alt="" style="height: 25rem; border: 1px solid black;"></td>
        </tr>
        <tr>
            <td><br><br></td>
        </tr> 
        <tr>
            <td align="center"><img src="../assets/GoogleDataStudio_Certificate_Tan.JPG" alt="" style="height: 25rem; border: 1px solid black;"></td>
        </tr>
    </table>

</div>

<div id="achievements">
    <br><hr><h3>Achievements</h3><hr><br>

    <table>
        <tr>
            <td align="center"><img src="../assets/Dean'sList-certificate.jpg" alt="" style="height: 25rem; border: 1px solid black;"></td>
        </tr>
    </table>

</div>