<h2>Input Settings</h2>
<hr><br>

<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="First and Last Name">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="email address">      
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Subject</mat-label>
        <input matInput placeholder="subject">      
    </mat-form-field>  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Message</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
</form>

<!--
  Tan, Geoferson Owen
  WD-302
-->