
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#partners">Our Partners</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About the Organization</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#join-us">Join Us!</a>
  </li>
</ul>

<!-- components -->
<div id="home"><app-home></app-home></div>
<div id="partners"><app-partners></app-partners></div>
<div id="join-us"><app-join-us></app-join-us></div>

<br><br>
<div id="footer">
  <h6 [style.color]="footerColor">6ADWEB | Prelim Lab Exam 2022</h6>
</div>

<!--
  Tan, Geoferson Owen
  WD-302
-->