<br>
<h3>About</h3><br>

<Table>
    <tr>
        <td><p>&emsp;I'm Geoferson Owen Tan, a Web Developer with a diverse set of abilities, qualities, and characteristics. I have vast experience working both independently and as part of a team. I developed soft skills in previous jobs as a technical support representative and learned web development in college. I enjoy mountain biking because, as the expression goes, "health is wealth," and being fit allows us to be more productive.</p></td>
        <td><img src="../assets/owen_pic.jpg" alt="Owen 2x2 pic" /></td>
    </tr>
</Table>
<h5>Core Strengths</h5>
<p>&emsp;- Excellent communication skills in English both oral and written.<br>&emsp;- Decent understanding of troubleshooting both advanced and basic.<br>&emsp;- Keen understanding of process good problem solving skills.<br>&emsp;- Dedicated and competent for intensive training.<br>&emsp;- Fast learner, hardworking, and great value for integrity.<br>&emsp;- Willing to work in a fast - paced, dynamic and scheduled shifting.</p>
<br><br>


<hr><h3>What I Do</h3><hr>

<div id="skills">
            <table >
                <tr>
                    <td>
                        <h6>PROGRAMMING LANGUAGE</h6>
                        <p>
                            - Java<br>
                            - Python<br>
                            - HTML<br>
                            - CSS<br>
                            - PHP<br>
                            - Dart
                        </p>
                    </td>                    
                </tr>
                <tr>
                    <td>
                        <h6>FRAMEWORKS</h6>
                        <p>
                            - Vue<br>
                            - Express<br>
                            - Angular<br>
                        </p>
                    </td>                    
                </tr>
                <tr>
                    <td>
                        <h6>DATABASE</h6>
                        <p>
                            - MySQL<br>
                            - MongoDB<br>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h6>Others</h6>
                        <p>
                            - SEO<br>
                            - Google Analytics<br>
                            - Google Data Studio<br>
                        </p>
                    </td>
                </tr>
            </table>
        </div>

<br><br>

<img src="../assets/pl-portfolio.jpg" alt="" style="width: 70%;" class="center">


