<div id="title">
  <h1>Angular Material Component Demo</h1>
</div>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Raised Buttons">
    <app-raisedbutton></app-raisedbutton>
  </mat-tab>

  <mat-tab label="Basic Buttons">
    <app-basicbutton></app-basicbutton>
  </mat-tab>

  <mat-tab label="Checkbox Setup">
    <app-checkboxsetup></app-checkboxsetup>
  </mat-tab>

  <mat-tab label="Input Settings">
    <app-inputsettings></app-inputsettings>
  </mat-tab>
</mat-tab-group>


<!--
  Tan, Geoferson Owen
  WD-302
-->