<h4>About S&R</h4>

<p>
    S&R is a membership-shopping club modelled after the warehouse shopping chains introduced in the United States.
 
The core concept of S&R is to deliver significant value to member-customers through an effective and efficient system anchored on aggressive buying, low-cost distribution and streamlined operations.
 
S&R started with warehouses in four key locations in BGC, Alabang, Congressional, and ASEANA in 2006. Since then, its reputation for offering a unique, streamlined shopping experience has only grown  stronger; its  warehouses, with their signature, hygienic white and blue design, have become meccas for high-quality imported groceries, food, and lifestyle products.
 
Fast forward to today, there are now 16 warehouses in the Philippines, a 3-fold increase since its inception. Moving forward, S&R plans to build at least 4 new warehouses a year, with its core focus on NCR and the provinces as its secondary market.
 
S&R has adopted a warehouse club concept where most of the products offered are in club packs.  Majority of the merchandise are imported brand names mostly sourced from the United States. Currently, S&R is the biggest reseller of imported quality products at very competitive prices.
 
Popular grocery items include fresh produce and fruits, Australian/New Zealand beef, a bevy of Western brands (from cereals to snacks, to soap and sundries), and the biggest assortment of imported chocolate among supermarkets. S&R also boasts the most comprehensive selection of imported wines and spirits among supermarkets. S&R doesn’t stop at just groceries; consumer electronics and appliances, along with health and beauty products are also available for purchase.
 
S&R partnered with Unioil to give additional value to their membership. S&R members can enjoy PHP5.00 discount on gasoline 91, PHP3.00 discount on gasoline 95 and 97, PHP2.50 on diesel.
 
As 2019 rolls on, S&R continues to grow with no signs of slowing down.
</p>

<!--
Reference:
https://www.coscocapital.com/segment.do?category_id=7346#:~:text=S%26R%20is%20a%20membership%2Dshopping,cost%20distribution%20and%20streamlined%20operations.
-->