<div class="example-label">Raised Buttons</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled style="color: darkgrey; background-color: lightgray;">Disabled</button>
    <a mat-raised-button href="https://material.angular.io/" target="_blank">Angual Material</a>
</div>

<!--
  Tan, Geoferson Owen
  WD-302
--> 